<div class="@@itemClass">
	<div class="card card-@@itemNum">
		<figure class="card-img-top">
			<a href="single-product.html" rel="nofollow" title="product-@@itemNum">
				<img src="img/product/@@itemPic" alt="cart-@@itemNum">
			</a>
		</figure><!-- .card-img -->
		<div class="card-body">
			<div class="row">
				<div class="col-sm-12">
					<h5 class="card-title"><a href="single-product.html" rel="nofollow" title="product-@@itemNum">@@itemTitle</a></h5>
				</div>
				<div class="col-sm-5">
					<div class="card-price price d-flex align-items-end">
						<div class="price-old">
							<span class="price-part1">38.</span>
							<sup class="price-part2">99</sup>
							<span class="price-currency">&#8364;</span>
						</div>
						<div class="price-default">
							<span class="price-part1">28.</span>
							<sup class="price-part2">99</sup>
							<span class="price-currency">&#8364;</span>
						</div>
					</div>
				</div>
				<div class="col-sm-7">
					<a href="single-product.html" rel="nofollow" class="btn btn-primary" title="product-@@itemNum">
						<span>In den Warenkorb</span>
						<i class="mdi mdi-cart" aria-hidden="true"></i>
					</a>
				</div>
			</div>
			<div class="product__color">
				<div class="product__color--item color-white"></div>
				<div class="product__color--item color-black"></div>
				<div class="product__color--item color-red"></div>
				<div class="product__color--item color-green"></div>
				<div class="product__color--item color-blue"></div>
			</div>
			<div class="product__size text-center">
				<div class="product__size--item size-xl">
					<span>xl</span>
				</div>
				<div class="product__size--item size-l">
					<span>l</span>
				</div>
				<div class="product__size--item size-m">
					<span>m</span>
				</div>
				<div class="product__size--item size-s">
					<span>s</span>
				</div>
				<div class="product__size--item size-xs">
					<span>xs</span>
				</div>
			</div>
		</div><!-- .card-body -->
		<span class="badge badge-@@itemLabel">@@itemLabelText</span>
	</div>
</div>