<!--@@loop("card-item.html", [{
	"itemClass": "col-lg-5 col-xl-6",
	"itemNum": "1",
	"itemTitle": "Arbeitshose Berlin Pro Bundhose",
	"itemPic": "prod-1-1.jpg"
}])-->
<div class="col-lg-5 col-xl-6">
	<a href="single-product.html" class="card card-1">
		<figure class="card-img-top"><img src="img/product/prod-1-1.jpg" alt="product-1"></figure>
		<div class="card-body">
			<div class="row">
				<div class="col-sm-12">
					<h5 class="card-title">Arbeitshose Berlin Pro Bundhose</h5>
				</div>
				<div class="col-sm-5">
					<div class="card-price d-flex align-items-end">
						<div class="card-price-old">
							<span class="card-price-whole">38.</span>
							<sup class="card-price-fraction">99</sup>
							<span class="card-price-currency">&#8364;</span>
						</div>
						<div class="card-price-default">
							<span class="card-price-whole">28.</span>
							<sup class="card-price-fraction">99</sup>
							<span class="card-price-currency">&#8364;</span>
						</div>
					</div>
				</div>
				<div class="col-sm-7">
					@@include("card-item-button.html")
				</div>
			</div>
		</div>
	</a>
</div>
<div class="col-lg-7 col-xl-6">
	<div class="row">
	<!--@@loop("card-item.html", [{
		"itemClass": "col-6",
		"itemNum": "1",
		"itemTitle": "Malerhose Malerhose Malerhose Malerhose Malerhose",
		"itemPic": "prod-1-2.jpg"
	},{
		"itemClass": "col-6",
		"itemNum": "2",
		"itemTitle": "Arbeitsjacke Berlin",
		"itemPic": "prod-2-1.jpg"
	},{
		"itemClass": "col-6",
		"itemNum": "3",
		"itemTitle": "Crew Neck Sweatshirt - WUI20",
		"itemPic": "prod-3-1.jpg"
	},{
		"itemClass": "col-6",
		"itemNum": "3",
		"itemTitle": "Damen Arztkittel Medizin weiß",
		"itemPic": "prod-4-1.jpg"
	}])-->
	</div>
</div>

<!--<div class="@@itemClass">
	<a href="single-product.html" class="card card-@@itemNum">
		<figure class="card-img-top"><img src="img/product/@@itemPic" alt="cart-@@itemNum"></figure>
		<div class="card-body">
			<div class="row">
				<div class="col-sm-12">
					<h5 class="card-title">@@itemTitle</h5>
				</div>
				<div class="col-sm-5">
					<div class="card-price d-flex align-items-end">
						<div class="card-price-old">
							<span class="card-price-whole">38.</span>
							<sup class="card-price-fraction">99</sup>
							<span class="card-price-currency">&#8364;</span>
						</div>
						<div class="card-price-default">
							<span class="card-price-whole">28.</span>
							<sup class="card-price-fraction">99</sup>
							<span class="card-price-currency">&#8364;</span>
						</div>
					</div>
				</div>
				<div class="col-sm-7">
					<a href="single-product.html" class="btn btn-primary">
						<span>In den Warenkorb</span>
						<i class="mdi mdi-cart" aria-hidden="true"></i>
					</a>
				</div>
			</div>
		</div>
	</a>
</div>-->