<nav class="navbar">
	<div class="container">
		<!--<div class="row">-->
			<div class="col-4 hidden__up--lg">
				<button class="navbar-toggler" id="menuToggle" data-toggle="collapse" data-target="#mainMenu" aria-controls="navbarNav" aria-expanded="false">
					<span class="navbar-toggler-line"></span>
					<span class="navbar-toggler-line"></span>
					<span class="navbar-toggler-line"></span>
				</button>
			</div>
			<div class="col-4 hidden__up--lg">
				<figure class="header__logo">
					<img src="img/logo-mob.png" alt="mobile logo">
				</figure>
			</div>
			<div class="col-4 hidden__up--lg justify-content-end align-items-center">
				@@include("account-btn-header.html")
				@@include('cart-header.html')
			</div>
			<ul class="nav" id="mainMenu">
				<li class="nav-item">
					<a href="" class="nav-link">Arbeitskleidung</a>
					<div class="nav__dropdown">
						<div class="container">
							<div class="row align-items-center">
								@@include('nav-desktop-dropdown.html')
							</div>
						</div><!-- .container -->
					</div>
				</li>
				<li class="nav-item">
					<a href="" class="nav-link">SICHERHEITSSCHUHE</a>
					<div class="nav__dropdown">
						<div class="container">
							<div class="row align-items-center">
								@@include('nav-desktop-dropdown.html')
							</div>
						</div><!-- .container -->
					</div>
				</li>
				<li class="nav-item">
					<a href="" class="nav-link">ARBEITSSCHUHE</a>
					<div class="nav__dropdown">
						<div class="container">
							<div class="row align-items-center">
								@@include('nav-desktop-dropdown.html')
							</div>
						</div><!-- .container -->
					</div>
				</li>
				<li class="nav-item">
					<a href="" class="nav-link">ARBEITSHANDSCHUHE</a>
					<div class="nav__dropdown">
						<div class="container">
							<div class="row align-items-center">
								@@include('nav-desktop-dropdown.html')
							</div>
						</div><!-- .container -->
					</div>
				</li>
				<li class="nav-item">
					<a href="" class="nav-link">ARBEITSKLEIDUNG MIT LOGO</a>
					<div class="nav__dropdown">
						<div class="container">
							<div class="row align-items-center">
								@@include('nav-desktop-dropdown-2.html')
							</div>
						</div><!-- .container -->
					</div>
				</li>
				<li class="nav-item">
					<a href="" class="nav-link">BERUFE</a>
					<div class="nav__dropdown hidden__up--md">
						<div class="container">
							<div class="row align-items-center">
								@@include('nav-desktop-dropdown-2.html')
							</div>
						</div><!-- .container -->
					</div>
				</li>
				<li class="nav-item">
					<a href="" class="nav-link">SALE</a>
					<div class="nav__dropdown hidden__up--md">
						<div class="container">
							<div class="row align-items-center">
								@@include('nav-desktop-dropdown-3.html')
							</div>
						</div><!-- .container -->
					</div>
				</li>
			</ul>
			<button type="button" class="header__search--toggler">
				<i class="mdi mdi-magnify" aria-hidden="true"></i>
			</button>
			@@include('header-search.html')
		<!--</div>-->
	</div>
</nav>