<div class="col-6 nav__dropdown--menu">
	<ul class="row">
		<li class="col-6 nav__dropdown--item">
			<a href="" class="nav__dropdown--link">Arbeitshosen</a>
		</li>
		<li class="col-6 nav__dropdown--item">
			<a href="" class="nav__dropdown--link">Arbeitsjacke</a>
		</li>
		<li class="col-6 nav__dropdown--item">
			<a href="" class="nav__dropdown--link">Sweatshirt</a>
		</li>
		<li class="col-6 nav__dropdown--item">
			<a href="" class="nav__dropdown--link">Warnweste</a>
		</li>
		<li class="col-6 nav__dropdown--item">
			<a href="" class="nav__dropdown--link">Arbeitslatzhos</a>
		</li>
		<li class="col-6 nav__dropdown--item">
			<a href="" class="nav__dropdown--link">Arbeitslatzhosen</a>
		</li>
		<li class="col-6 nav__dropdown--item">
			<a href="" class="nav__dropdown--link">Warnschutzkleidung</a>
		</li>
		<li class="col-6 nav__dropdown--item">
			<a href="" class="nav__dropdown--link">Arbeitskleidung regenjacke</a>
		</li>
	</ul>
</div>
<figure class="col-6 text-center">
	<img src="img/menu-hover.jpg" alt="dropdown img">
</figure>