<div class="col-12 col-lg-6 nav__submenu--list">
	<ul class="row">
		<li class="col-12 col-lg-6 nav__submenu--item">
			<a href="" class="nav__submenu--link">Arbeitshosen</a>
		</li>
		<li class="col-12 col-lg-6 nav__submenu--item">
			<a href="" class="nav__submenu--link">Arbeitsjacke</a>
		</li>
		<li class="col-12 col-lg-6 nav__submenu--item">
			<a href="" class="nav__submenu--link">Sweatshirt</a>
		</li>
		<li class="col-12 col-lg-6 nav__submenu--item">
			<a href="" class="nav__submenu--link">Warnweste</a>
		</li>
		<li class="col-12 col-lg-6 nav__submenu--item">
			<a href="" class="nav__submenu--link">Arbeitslatzhos</a>
		</li>
		<li class="col-12 col-lg-6 nav__submenu--item">
			<a href="" class="nav__submenu--link">Arbeitslatzhosen</a>
		</li>
		<li class="col-12 col-lg-6 nav__submenu--item">
			<a href="" class="nav__submenu--link">Warnschutzkleidung</a>
		</li>
		<li class="col-12 col-lg-6 nav__submenu--item">
			<a href="" class="nav__submenu--link">Arbeitskleidung regenjacke</a>
		</li>
	</ul>
</div>
<figure class="col-6 text-center hidden__down--md">
	<img src="img/menu-hover.jpg" alt="dropdown img">
</figure>