<nav class="navbar">
	<div class="container">
		<div class="collapse navbar-collapse" id="mainMenu">
			<ul class="nav">
				<li class="nav-item dropdown">
					<a href="" class="nav-link dropdown-toggle" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Arbeitskleidung</a>
					<i class="mdi mdi-chevron-down"></i>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown1">
					  <a class="dropdown-item" href="#">Arbeitshosen</a>
					  <a class="dropdown-item" href="#">Arbeitsjacke</a>
					  <a class="dropdown-item" href="#">Sweatshirt</a>
					  <a class="dropdown-item" href="#">Warnweste</a>
					  <a class="dropdown-item" href="#">Arbeitslatzhos</a>
					  <a class="dropdown-item" href="#">Arbeitslatzhosen</a>
					  <a class="dropdown-item" href="#">Warnschutzkleidung</a>
					  <a class="dropdown-item" href="#">Arbeitskleidung regenjacke</a>
					</div>
				</li>
				<li class="nav-item dropdown">
					<a href="" class="nav-link dropdown-toggle" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">SICHERHEITSSCHUHE</a>
					<i class="mdi mdi-chevron-down"></i>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown2">
					  <a class="dropdown-item" href="#">Action</a>
					  <a class="dropdown-item" href="#">Another action</a>
					  <a class="dropdown-item" href="#">Action</a>
					  <a class="dropdown-item" href="#">Another action</a>
					</div>
				</li>
				<li class="nav-item dropdown">
					<a href="" class="nav-link dropdown-toggle" id="navbarDropdown3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ARBEITSSCHUHE</a>
					<i class="mdi mdi-chevron-down"></i>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown3">
					  <a class="dropdown-item" href="#">Action</a>
					  <a class="dropdown-item" href="#">Another action</a>
					  <a class="dropdown-item" href="#">Action</a>
					  <a class="dropdown-item" href="#">Another action</a>
					</div>
				</li>
				<li class="nav-item dropdown">
					<a href="" class="nav-link dropdown-toggle" id="navbarDropdown4" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ARBEITSHANDSCHUHE</a>
					<i class="mdi mdi-chevron-down"></i>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown4">
					  <a class="dropdown-item" href="#">Action</a>
					  <a class="dropdown-item" href="#">Another action</a>
					  <a class="dropdown-item" href="#">Action</a>
					  <a class="dropdown-item" href="#">Another action</a>
					</div>
				</li>
				<li class="nav-item dropdown">
					<a href="" class="nav-link dropdown-toggle" id="navbarDropdown5" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ARBEITSKLEIDUNG MIT LOGO</a>
					<i class="mdi mdi-chevron-down"></i>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown5">
					  <a class="dropdown-item" href="#">Action</a>
					  <a class="dropdown-item" href="#">Another action</a>
					  <a class="dropdown-item" href="#">Action</a>
					  <a class="dropdown-item" href="#">Another action</a>
					</div>
				</li>
				<li class="nav-item">
					<a href="" class="nav-link">BERUFE</a>
				</li>
				<li class="nav-item">
					<a href="" class="nav-link">SALE</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
<!--<nav class="navbar">
	<div class="container">
		<div class="collapse navbar-collapse" id="mainMenu">
			<ul class="nav">
			@@loop("menu-items.html", [
				{
					"name": "About",
					"url": "#",
					"active": " active"
				},
				{
					"name": "Service",
					"url": "#",
					"active": ""
				},
				{
					"name": "Product",
					"url": "#",
					"active": ""
				},
				{
					"name": "News",
					"url": "#",
					"active": ""
				},
				{
					"name": "Reviews",
					"url": "#",
					"active": ""
				},
				{
					"name": "Contacts",
					"url": "#",
					"active": ""
				}
			])
			</ul>
		</div>
	</div>
</nav>--><!-- .navbar -->