<div class="col-12 col-lg-8">
	<ul class="row">
		<li class="col-12 col-lg-4 nav__submenu--item">
			<a href="" class="nav__submenu--link">Arbeitshosen für Frauen</a>
		</li>
		<li class="col-12 col-lg-4 nav__submenu--item">
			<a href="" class="nav__submenu--link">Arbeitshosen männer</a>
		</li>
		<li class="col-12 col-lg-4 nav__submenu--item">
			<a href="" class="nav__submenu--link">Kinder arbeitshose</a>
		</li>
	</ul>
</div>
<figure class="col-4 text-center hidden__down--md">
	<img src="img/menu-hover.jpg" alt="dropdown img">
</figure>