<nav class="navbar">
	<div class="container">
		<ul class="nav">
			<li class="nav-item">
				<a href="" class="nav-link">Arbeitskleidung</a>
				<div class="nav__dropdown">
					<div class="container">
						<div class="row align-items-center">
							@@include('nav-desktop-dropdown.html')
						</div>
					</div><!-- .container -->
				</div>
			</li>
			<li class="nav-item">
				<a href="" class="nav-link">SICHERHEITSSCHUHE</a>
				<div class="nav__dropdown">
					<div class="container">
						<div class="row align-items-center">
							@@include('nav-desktop-dropdown.html')
						</div>
					</div><!-- .container -->
				</div>
			</li>
			<li class="nav-item">
				<a href="" class="nav-link">ARBEITSSCHUHE</a>
				<div class="nav__dropdown">
					<div class="container">
						<div class="row align-items-center">
							@@include('nav-desktop-dropdown.html')
						</div>
					</div><!-- .container -->
				</div>
			</li>
			<li class="nav-item">
				<a href="" class="nav-link">ARBEITSHANDSCHUHE</a>
				<div class="nav__dropdown">
					<div class="container">
						<div class="row align-items-center">
							@@include('nav-desktop-dropdown.html')
						</div>
					</div><!-- .container -->
				</div>
			</li>
			<li class="nav-item">
				<a href="" class="nav-link">ARBEITSKLEIDUNG MIT LOGO</a>
				<div class="nav__dropdown">
					<div class="container">
						<div class="row align-items-center">
							@@include('nav-desktop-dropdown-2.html')
						</div>
					</div><!-- .container -->
				</div>
			</li>
			<li class="nav-item">
				<a href="" class="nav-link">BERUFE</a>
				<div class="nav__dropdown">
					<div class="container">
						<div class="row align-items-center">
							@@include('nav-desktop-dropdown-2.html')
						</div>
					</div><!-- .container -->
				</div>
			</li>
			<li class="nav-item">
				<a href="" class="nav-link">SALE</a>
				<div class="nav__dropdown">
					<div class="container">
						<div class="row align-items-center">
							@@include('nav-desktop-dropdown-3.html')
						</div>
					</div><!-- .container -->
				</div>
			</li>
		</ul>
		@@include('header-search.html')
	</div>
</nav>