<div class="col-12 col-lg-6 nav__submenu--list">
	<ul class="row">
		<li class="col-12 col-lg-6 nav__submenu--item">
			<a href="" class="nav__submenu--link">Arbeitshosen</a>
		</li>
		<li class="col-12 col-lg-6 nav__submenu--item">
			<a href="" class="nav__submenu--link">Arbeitsjacke</a>
		</li>
		<li class="col-12 col-lg-6 nav__submenu--item">
			<a href="" class="nav__submenu--link">Sweatshirt</a>
		</li>
		<li class="col-12 col-lg-6 nav__submenu--item">
			<a href="" class="nav__submenu--link">Warnweste</a>
		</li>
		<li class="col-12 col-lg-6 nav__submenu--item">
			<a href="" class="nav__submenu--link">Arbeitslatzhos</a>
		</li>
		<li class="col-12 col-lg-6 nav__submenu--item">
			<a href="" class="nav__submenu--link">Arbeitslatzhosen</a>
		</li>
		<li class="col-12 col-lg-6 nav__submenu--item">
			<a href="" class="nav__submenu--link">Warnschutzkleidung</a>
		</li>
		<li class="col-12 col-lg-6 nav__submenu--item">
			<a href="" class="nav__submenu--link">Arbeitskleidung regenjacke</a>
		</li>
	</ul>
</div>
<div class="col-lg-3 hidden__down--md">
	<ul class="row">
		<li class="col-12 nav__submenu--item">
			<a href="" class="nav__submenu--link">Arbeitshosen für Frauen</a>
		</li>
		<li class="col-12 nav__submenu--item">
			<a href="" class="nav__submenu--link">Arbeitshosen männer</a>
		</li>
		<li class="col-12 nav__submenu--item">
			<a href="" class="nav__submenu--link">Kinder arbeitshose</a>
		</li>
	</ul>
</div>
<figure class="col-3 text-center hidden__down--md">
	<img src="img/menu-hover.jpg" alt="dropdown img">
</figure>