.section__beruf {
	.row {
		position: relative;
		@include media-breakpoint-down(lg) {
			padding-top: 15px;
			padding-bottom: 110px;
			border-top: 1px solid rgba($cl_theme-dark, .25);
			border-bottom: 1px solid rgba($cl_theme-dark, .25);
			background-position: center bottom;
			background-repeat: no-repeat;
			background-size: auto;
			background-image: url("#{$img-bg}/bg-beruf-mob.jpg");
			/*.webp & {
				background-image: url("#{$img-bg}/bg-beruf-mob.webp");
			}
			.no-webp & {
				background-image: url("#{$img-bg}/bg-beruf-mob.jpg");
			}*/
		}
	}
	&--list {
		@include media-breakpoint-between(sm, lg) {
			text-align: center;
		}
		.slick {
			&-list {
				max-width: 1170px;
				margin: 0 auto;
				padding: 1rem 0;
				overflow: hidden;
			}
			&-arrow {
				opacity: 0;
				&.slick-prev {
					left: -40px;
				}
				&.slick-next {
					left: auto;
					right: -40px;
				}
				&:active,
				&:hover,
				{
					opacity: 1;
				}
			}
		}
		&:active .slick-arrow,
		&:hover .slick-arrow {
			opacity: 1;
		}
	}
	&--item {
		position: relative;
		@include media-breakpoint-down(lg) {
			width: 100%;
		}
		@include media-breakpoint-up(xl) {
			@include size(380px, 250px);
			margin: 0 4.75px;
		}
	}
	&--content {
		position: relative;
		z-index: 2;
		color: $cl_theme-black;
		@include transition;
		@include media-breakpoint-down(lg) {
			padding: 0 1rem;
		}
		@include media-breakpoint-up(xl) {
			@include size(360px, 100%);
			margin: 0 auto;
			padding: 0 25px;
			border: 1px solid rgba($cl_theme-dark, .25);
		}
		&:hover,
		&:active,
		.section__beruf--item:hover &,
		.section__beruf--item:active & {
			@include media-breakpoint-up(xl) {
				text-decoration: none;
				color: inherit;
				box-shadow: $box-shadow-center !important;
			}
		}
	}
	&--inner {
		@include media-breakpoint-up(xl) {
			width: 227px;
		}
	}
	&--img,
	&--text {
		.mobile & {
			display: none !important;
		}
		@include media-breakpoint-down(lg) {
			display: none !important;
		}
	}
	&--title,
	&--text {
		@include media-breakpoint-up(xl) {
			display: block;
			line-height: 1.25;
		}
	}
	&--title {
		@include media-breakpoint-down(lg) {
			font-family: $fira-m;
		}
		@include media-breakpoint-up(xl) {
			margin-bottom: 1rem;
			@include font-size(26px);
			font-family: $oswald-sb;
		}
	}
	&--img {
		@include size(calc(100% - 20px), 100%);
		@include position($left:50%);
		@include translateX;
		z-index: 1;
		overflow: hidden;
		img {
			width: 100%;
		}
	}
}
