.section__seo {
	.section__back {
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		.webp & {
			background-image: url("#{$img-bg}/bg-seo.webp");
		}
		.no-webp & {
			background-image: url("#{$img-bg}/bg-seo.jpg");
		}
	}
}