.tweet {
	padding: .5rem 0;
	&:not(:last-child) {
		border-bottom: 1px solid #000;
	}
}

.comm {
	&__item {
		display: flex;
		&:not(:last-child) {
			padding-bottom: 1rem;
		}
		&.active {
			background: $cl-default-bg;
		}
	}
	&__img {
		flex: 1;
	}
	&__content {
		flex: 2;
	}
	&__title {
		font-weight: bold;
		font-size: 1.25rem;
		text-transform: capitalize;
	}
}