/*
* Main navigation styles
*/
$nav-top: 85px;

.navbar {
	padding: 0;
	@include transition;
	overflow-y: auto;
	background-color: $cl_theme-dark;
	@include media-breakpoint-down(lg) {
		@include width-height($w:0, $h:calc(100vh - #{$nav-top}));
		@include position($top:$nav-top, $left:-100%);
		align-items: flex-start;
	}
	.header__desktop & {
		overflow: visible;
	}
	.container {
		@include transition;
		.header__mobile & {
			opacity: 0;
		}
	}
	&__extended {
		width: 100%;
		left: 0;
		.container {
			.header__mobile & {
				opacity: 1;
			}
		}
	}
	&-toggler {
		@include display($w:40px, $h:40px);
		position: relative;
		padding: .25rem;
		background: none;
		&-icon {
			background: none;
		}
		&-line {
			@include display($h:2px);
			@include position($top:10px);
			@include transition;
			opacity: 1;
			background: $cl_theme-black;
			&:nth-child(2) {
				top: 18px;
			}
			&:nth-child(3) {
				top: 26px;
			}
		}
	}
	&-close {
		.navbar-toggler-line {
			&:nth-child(1) {
				top: 17.5px;
				transform: rotate(45deg);
			}
			&:nth-child(2) {
				transform: rotate(135deg);
			}
			&:nth-child(3) {
				opacity: 0;
			}
		}
	}
	.nav-link {
		text-transform: uppercase;
	}
}

.nav {
	width: 100%;
	position: relative;
	.header__mobile &,
	.footer & {
		@include media-breakpoint-down(lg) {
			@include flex-direction;
		}
	}
	&-item,
	.dropdown-item {
		&:not(:last-child) {
			@include media-breakpoint-down(lg) {
				border-bottom-width: 1px;
				border-bottom-style: solid;
			}
		}
	}
	&-item {
		@include media-breakpoint-down(lg) {
			border-color: white;
			text-align: left;
		}
		&:first-child {
			.desktop & {
				margin-left: -1.25rem;
			}
		}
		&:last-child {
			.nav-link {
				color: $cl_brand;
			}
		}
	}
	.dropdown-item {
		@include media-breakpoint-down(lg) {
			border-color: $cl_theme-dark;
		}
	}
	&-link,
	.dropdown-item {
		@include transition;
		font-family: $oswald-sb;
		.header__top & {
			@include font-size(14px);
			font-family: $oswald-r;
			color: $cl_theme-black;
		}
		.header__mobile &,
		.footer & {
			@include display;
			padding: .125rem 0;
		}
		.header__mobile &, {
			text-transform: uppercase;
		}
	}
	&-link {
		.header__mobile &,
		.header__bottom &,
		.footer & {
			color: white;
		}
		.desktop & {
			padding: .5rem 1.25rem;
		}
		.footer & {
			@include font-size(14px);
			font-family: $oswald-r;
		}
		&:hover,
		&:active {
			@include media-breakpoint-down(lg) {
				color: white;
			}
		}
		&::after {
			display: none;
		}
	}
	&__dropdown {
		@include size(100vw, 0px);
		@include position($top:40px, $left:50%);
		@include translateX;
		@include transition;
		padding: .75rem 0;
		overflow: hidden;
		opacity: 0;
		background: white;
		border-top: 1px solid $cl_brand;
		border-bottom: 1px solid $cl_brand;
		.nav-item:hover & {
			height: auto;
			opacity: 1;
		}
		ul {
			list-style: none;
			padding: 0;
		}
		figure {
			margin: 0;
		}
		&--menu {
			position: relative;
			&::after {
				@include pseudo-elm($w:1px);
				max-height: 100px;
				@include position($top:50%, $left:auto, $right:.75rem);
				@include translateY;
				background: $cl_brand;
			}
		}
		&--link {
			padding: .25rem;
			font-family: $oswald-sb;
			color: $cl_theme-black;
			&:hover, &:active {
				color: inherit;
			}
		}
	}
	.mdi {
		@include position($left:auto, $right:0);
		@include transition;
		@include font-size-height(26px, 1.125);
		color: white;
		@include media-breakpoint-up(xl) {
			display: none;
		}
	}
	.show .mdi {
		transform: rotate(180deg);
	}
	.dropdown {
		&-menu {
			border-radius: 0;
			@include media-breakpoint-down(lg) {
				position: inherit;
				width: 100%;
				padding: 0;
				padding-left: 2.5rem;
			}
			&::after {
				.mobile & {
					@include pseudo-elm($w:100vw, $h:calc(100% + 2px));
					@include position($left:50%);
					@include translateX;
				}
				z-index: 1;
				background: white;
			}
		}
		&-item {
			position: relative;
			z-index: 2;
			/*@include media-breakpoint-down(lg) {}*/
			&:hover,
			&:active {
				@include media-breakpoint-down(lg) {
					color: inherit;
				}
			}
		}
	}
}