.pagination {
    padding: 60px 0 20px;
    &__list {
        text-align: center;
    }
    &__item {
        @include display(inline-block, 50px, 50px);
        margin: 0 10px;
        text-align: center;
        @include media(phablet-up) {
            @include width-height(25px, 25px);
        }
        a, span {
            @include display;
            color: $grey;
            line-height: 50px;
            @include media(phablet-down) {
                font-size: 20px;
                font-size: 1.25rem;
            }
            @include media(phablet-up) {
                line-height: 25px;
            }
        }
        &.is-active {
            background: $primary_color;
            a, span {
                color: #fff;
            }
        }
        &.prev, &.next {
            a, span {
                color: $primary_color;
                @include media(phablet-down) {
                    font-size: 26px;
                    font-size: 1.615rem;
                }
            }
        }
    }
}