/* very basic styles */
body {
	overflow-x: hidden;
    font-family: $primary-font;
}

button {
    background: inherit;
	border: none;
}

textarea, input,
a, button {
	outline: none;
	box-shadow: none;
	&:hover,
	&:focus,
	&:active {
		outline: 0 !important;
		box-shadow: none !important;
		-webkit-appearance: none !important;
	}
}

a {
    text-decoration: none;
}

em {
	font-style: oblique;
}

.italic {
	font-style: italic;
}

u, .underline {
	text-decoration: underline;
}

b, strong {
	font-weight: bold;
	font-family: $fira-m;
}

h1, .h1,
h2, .h2,
h3, .h3 {
	font-family: $oswald-sb;
}

h4, .h4,
h5, .h5,
h6, .h6 {
	font-family: $oswald-r;
}

h1, .h1 {
	@include font-size(32px);
}

h2, .h2 {
	@include font-size(28px);
}

h3, .h3 {
	@include font-size(24px);
}

/*
* Basic classes
*/

.page {
	@include width-height;
	overflow-x: hidden;
}

.overflow-y {
	overflow-y: hidden;
}

.relative {
    position: relative;
}

.bg {
	&-dark {
		background-color: $cl_theme-dark;
		color: white;
	}
	&-dark-2 {
		background-color: $cl_theme-dark-2;
		color: white;
	}
}

$hide_up: md lg xl;
$hide_down: sm md lg;

@each $size in $hide_up {
	.hidden__up--#{$size} {
		@include media-breakpoint-up($size) {
			display: none !important;
		}
	}
}
@each $size in $hide_down {
	.hidden__down--#{$size} {
		@include media-breakpoint-down($size) {
			display: none !important;
		}
	}
}
