/*
* Default color theme
*/

$cl_theme-black:	#000;
$cl_theme-dark:		#363636;
$cl_theme-dark-2:	#282828;
$cl_theme-orange:	#ff6600;
$cl_brand:			$cl_theme-orange;
$cl_theme-red:		#b22721;
$cl_theme-blue:		#308bb6;
$cl_theme-green:	#b22721;


$cl-facebook: 	#3b5998;
$cl-whatsapp: 	#075e54;
$cl-google: 	#dd4b39;