/*
* Default color theme
*/

$cl-default-primary:    #2E5273;
$cl-default-bg:         #FFEFD8;
$cl-default-bg-3:       #DBEEFF;
$cl-default-text:       #000000;
$cl-default-secondary:  #27666C;
$cl-default-sc-bg:      #B2753F;

$primary_color:			$cl-default-primary;


$grey:          #999;

$cl-platinum:   #ebebeb;
$cl-dim-gray:   #616161;
$cl-404:        #d5d5d5;

$dark_blue:     #021A29;

$default_bg:    lighten($dark_blue, 85%);