// fonts
@mixin font-face-1($name, $path, $weight:normal, $style:normal) {
    @font-face {
        font-family: $name;
        font-style: $style;
        font-weight: $weight;
        src: url($path + ".eot");
        src: url($path + ".eot?#iefix") format("embedded-opentype"),
             url($path + ".woff2") format("woff2"),
             url($path + ".woff") format("woff"),
             url($path + ".ttf") format("truetype"),
             url($path + ".svg#" + $name) format("svg");
    }
}

@mixin font-face-2($name, $path, $format, $weight:normal, $style:normal) {
    @font-face {
        font-family: $name;
        font-style: $style;
        font-weight: $weight;
        src: url($path) format($format);
    }
}