
// width & height
$max-width: 1140px;

// breakpoints
$width-1: 	400px; // 380 + padding-left:10px + padding-right:10px;
$width-2: 	750px; // 720 + padding-left:15px + padding-right:15px;
$width-3: 	994px; // 964
$width-4: 	1200px; // 1170
$width-5: 	1600px;
$width-6: 	1920px;


/* fonts */
//@include font-face-1("fontello", "../fonts/fontello");
@include font-face-1("Roboto-Regular", "../fonts/Roboto-Regular");
@include font-face-1("Roboto-Bold", "../fonts/Roboto-Bold");
@include font-face-1("Roboto-Light", "../fonts/Roboto-Light");


$basic-font-family:	"arial", sans-serif;
$basic-font-size: 16px;

$roboto-r:		"Roboto-Regular";
$roboto-b:		"Roboto-Bold";
$roboto-l:		"Roboto-Light";


$primary-font: $roboto-r;