/*
* Text mixin
*/

//-------- calculate rem
@function calcRem($pxSize) {
	$remSize: $pxSize / $base-font-size;
	@return #{$remSize}rem;
}
//-------- most used font-size / line-height
@mixin font-size-height($px:$font-size, $lh:1.125em) {
    font-size: $px;
    font-size: calcRem($px);
    line-height: $lh;
}
//-------- only font-size
@mixin font-size($px:$font-size) {
    font-size: $px;
    font-size: calcRem($px);
}

//-------- hide text
@mixin hide-text {    
    text-indent: 100%;
    overflow: hidden;
    white-space: nowrap;
}

//-------- text formating
@mixin text-style($align:center, $transform:uppercase, $decoration:none) {
    text-align: $align;
    text-decoration: $decoration;
    text-transform: $transform;
}

//-------- quote 
@mixin quote($content:"\"") {
    position: relative;
    &::before, &::after {
        position: absolute;
    }
    &::before {
        content: $content;
        left: -7px;
    }
    &::after {
        content: $content;
    }
}